.right-sidebar{
    float: right;
    width: 300px;
    margin: 40px 0px 15px 24px;
    font-size: 15px;
    
}
.widget{
    margin-top: 10px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 5%), -3px -3px 10px rgb(0 0 0 / 5%);
    border: solid 1px purple;

}
.widget h4{
    background-color: pink;
    margin: 0%;
    padding: 13px;
    border-bottom: solid 1px purple;
}
.right-sidebar-div-1{
    background-color: rgb(255, 223, 229);
    padding: 15px;
    border-bottom: solid 1px purple;
}
.right-sidebar-div-1 .right-sidebar-div-2{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    
}
.right-sidebar-div-1 .right-sidebar-div-2 p{
    padding-left: 10px;
    margin-top: 0%;
    font-size: 14px;
}
.widget-tags{
    margin-top: 40px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 5%)
    -3px -3px 10px rgb(0 0 0 / 5%);
}
.widget-tags h4{
    margin: 0%;
    padding: 15px;
    background-color: rgb(255, 223, 229);
    border: solid 1px purple;

}
.widget-tags-div{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    border: solid 1px purple;
    padding: 10px;
}
.widget-tags-div p{
    padding: 5px;
    background-color: rgb(255, 223, 229);
    color: #0095ff;
    border-radius: 2px;
    font-size: 13px;
}